<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onomazwopragmaproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_crop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EndOfGameActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".GlobalsActivity" />
        <activity
            android:name=".HostRoomActivity"
            android:label="@string/title_activity_host_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".JoinRoomActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".HostOrJoinRoomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>